div{
  border: 1px solid;
  width: 128px;
}

#clearButton{
  position: absolute;
  height: 21px;
  border-top: 0px;
  /* margin: auto;
  top: auto;
  bottom: auto; */
}

#digitsInput{
  text-align: right;
  width: 121px;
}

table{
  display: inline;
}

#non-operationsButtons{
  border-bottom-width:40;
}

#operationsButtons{
  border: 1px solid;
}
