div{
  border: 1px solid;
  border-radius: 0.25rem;
  width: 120px;
}

#clearButton{
  position: absolute;
  height: 21px;
  border-top: 0px;
  border-radius: 0.1rem;
}

#digitsInput{
  border-radius: 0.25rem;
  text-align: right;
  width: 111.5px;

}

table{
  display: inline;
  text-align: center;
  /* border-radius: 0.08rem;
  border: 1px solid; */
}

/* #non-operationsButtons{
  text-align: center;
}


#operationsButtons{
  text-align: center;
}
 */

.buttons{
  width: 22px;
  text-align: center;
  
}